.home {
    background-color: #FFFEFA;
    position: absolute;
    height: 100%;
    width: 100%;
}

.home > * {
    margin: 15px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.title {
    font-family: 'EB Garamond';
    font-size: 10vw;
    font-style: italic;
}

.divider {
    width: '80%';
}

.note {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.index {
    padding: 0px 10px;
    font-weight: bold;
}

.link {
    font-size: x-large;
}

.description {
    font-style: italic;
    padding: 10px;
}

.createFootnoteHeader {
    display: flex;
    justify-content: space-between;
}

.createFootnoteDescription {
    width: 100%;
}

.createdFootnotes {
    display: flex;
    flex-direction: column;
}